<div class="container" ng-controller="ShowWhiskyCtrl">

  <div class="row">
    <div class="col-sm-6 info">
      <div>

          <div class="profile-buttons">
            <a class="btn btn-default pull-left" href="/">&laquo; Back to Search</a>
            <button class="btn btn-default pull-right">Add to favorites</button>
          </div>

          <div class="info-text">
            <h2>{{whisky.name}}</h2>
            <p>Producer: {{whisky.producer.name}}</p>
            <p>Region: {{whisky.region.name}}</p>
            <p>
              <span class="rating">Rating: {{whisky.rating}}</span> |
              <span class="age">Age: {{whisky.age}}</span>
            </p>
        </div>
      </div>
    </div><!-- /.col -->
    <div class="col-sm-6 flavor-profile">
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-12 data-table">
      <h3>Deals on {{whisky.producer.name}} Whisky</h3>
      <table class="table table-hover">
        <thead>
          <th>Region</th>
          <th>Producer</th>
          <th>Name</th>
          <th>Seller</th>
          <th>Price</th>
        </thead>
        <tbody>
          <!--  -->
          <tr ng-repeat="deal in deals | filterNullPrice">
            <td>{{whisky.region.name}}</td>
            <td>{{deal.brand}}</td>
            <td><a href="{{deal.sitedetails[0].url}}">{{deal.name}}</a></td>
            <td>{{deal.sitedetails[0].name}}</td>
            <td>${{deal.sitedetails[0].latestoffers[0].price}}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.col -->
  </div> <!-- /.row -->

</div><!-- /.container -->
