// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$curious-blue: rgba(52, 152, 219, 1.0);
$ebony: rgba(34, 49, 63, 1.0);
$body: rgba(255, 236, 219, 1.0);
$fountain: rgba(92, 151, 191, 1.0);
$link: rgba(243, 156, 18, 1.0);

body {
  font-family: 'Arimo';
  background: lighten($ebony, 75%);
}

a {
  color: $link;
  &:hover {
    color: lighten($link, 20%);
  }
}

h2 {
  font-family: 'Racing Sans One', sans-serif;
}

.page-header {
  background: $ebony;
  color: white;
  width: 100%;
  margin: 0;
  .header-top {
    background: lighten($ebony, 20%);
    padding: 1em 3em;
    overflow: hidden;
  }
  .logo {
    margin: 0 auto;
    text-align: center;
    font-family: 'Racing Sans One', sans-serif;
    padding: 0.33em;
    a {
      &:hover {
        text-decoration: none;
      }
    }
    h1 {
      font-size: 4em;
    }
    p {
      font-family: 'Arimo', sans-serif;
      font-weight: normal;
      font-size: 16px;
    }
    .scotchme {
      font-family: 'Arimo', sans-serif;
    }
    .small-text {
      font-family: 'Arimo', sans-serif;
      font-size: 0.5em;
    }
  }
}
.chart-wrapper {
  overflow: hidden;
}
.space-left {
  margin-left: 1em;
}
.controls {
  margin-bottom: 2em;
}
.btn {
  border: none;
}
.btn-default {
  background: $fountain;
  color: white;
  &:hover {
    background: darken($fountain, 10%);
    color: white;
  }
}
.page-footer {
  overflow: hidden;
  width: 100%;
  background: lighten($ebony, 20%);
  padding: 1em;
  padding-right: 3em;
  color: $fountain;
}



