// Place all the styles related to the whisky_templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$spray: rgba(129, 207, 224, 1.0);
$wax: rgba(241, 169, 160, 1.0);
$superlime: rgba(200, 247, 197, 1.0);
$curious-blue: rgba(52, 152, 219, 1.0);
$ebony: rgba(34, 49, 63, 1.0);
$body: rgba(255, 236, 219, 1.0);
$lynch: rgba(108, 122, 137, 1.0);

.chart-wrapper {
  width: 800px;
  // height: 520px;
  overflow: hidden;
  background: rgba($lynch, 0.8);
  border-radius: 4px;
  box-shadow: 1px 1px 3px #999;
  position: absolute;
  top: -20%;
  left: 10%;
  z-index: 99999;
  .title {
    margin: 1em;
    h2 {
      border-bottom: 1px solid white;
      width: 75%;
      color: white;
      padding-bottom: 0.25em;
    }
    p {
      color: white;
      margin-top: 0;
    }

  }
  div.sideBar {
    width: 180px;
    font-size: 14px;
    height: 520px;
    position: absolute;
    right: 0;
    top: 0;
    background:#34495E;
    color: white;
    transition: all 0.5s ease;
    font-size: 12px;
    a.sidebar {
      display: block;
      padding: 1em;
      border-bottom: 1px solid rgba($spray, 0.15);
      color: $spray;
      &:hover {
        background: rgba($spray, 0.15);
        color: darken($spray, 10%);
        text-decoration: none;
      }
    }
  }
}

.bubbles {
  .node-label {
    font-size: 12px;
    display: block;
  }
}
.bubble {
  stroke: none;
  stroke-width: 0;
  transition: all 0.5s ease;
}

.highlight {
  stroke: white;
  stroke-width: 5;
}
.text-highlight {
  color: yellow;
}

.data-table {
  background: white;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid rgba($ebony, 0.1);
}








