<h1>SitesTemplates#index</h1>
<p>{{app.greeting}}</p>
<ul>
  <li ng-repeat="whisky in app.whiskies | limitTo: 10 | orderBy: '-rating'">
    <h4>{{whisky.name}}</h4>
    <p>Rating: {{whisky.rating}}</p>
    <p>Price: ${{whisky.price}}</p>
    <p>Age: {{whisky.age}}</p>
  </li>
</ul>
